absl-py==0.3.0
aiohttp==3.3.2
altgraph==0.16.1
aniso8601==3.0.2
APScheduler==3.2.0
astor==0.7.1
async-timeout==3.0.0
attrs==18.1.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==2.1.3
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.0
Django==2.1b1
entrypoints==0.2.3
Flask==0.12
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
flask-restplus==0.11.0
future==0.16.0
gast==0.2.0
grpcio==1.13.0
html5lib==1.0.1
idna==2.7
idna-ssl==1.0.1
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
joblib==0.12.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==3.7.2
macholib==1.10
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
multidict==4.3.1
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.5.0
numpy==1.14.5
pandas==0.23.1
pandocfilters==1.4.2
parso==0.3.0
pefile==2017.11.5
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.6.0
Pygments==2.2.0
PyInstaller==3.3.1
pymongo==3.6.1
PyMySQL==0.8.1
pyparsing==2.2.0
pypiwin32==223
pyquery==1.4.0
python-dateutil==2.7.3
pytz==2018.4
pywin32==223
pywinpty==0.5.4
pyzmq==17.0.0
qtconsole==4.3.1
redis==2.10.6
requests==2.12.4
schedule==0.5.0
scipy==1.1.0
seaborn==0.8.1
selenium==3.12.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
strutil==0.2.1
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
tushare==1.2.4
tzlocal==1.5.1
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.11.15
widgetsnbextension==3.2.1
wrapt==1.10.11
yarl==1.2.6
